 .u-section-1 {
  background-image: url("images/pexels-photo-317377.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-group-1 {
  width: 682px;
  min-height: 446px;
  margin: 60px -35px 60px auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  animation-duration: 1000ms;
  letter-spacing: 4px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 68.24% 78.24%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 52.34% 45.53%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 41.41% 4.95%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  min-height: 662px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 20px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 735px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 150px 0 0;
}

.u-section-2 .u-image-1 {
  width: 423px;
  height: 332px;
  object-position: 49.41% 100%;
  animation-duration: 1000ms;
  margin: 39px auto 0;
}

.u-section-2 .u-image-2 {
  min-height: 727px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-20501371.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 16px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 534px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 322px;
  }

  .u-section-2 .u-image-2 {
    min-height: 599px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    width: 217px;
    height: 292px;
  }

  .u-section-2 .u-image-2 {
    min-height: 459px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 662px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-2 .u-text-1 {
    width: 471px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 296px;
    height: 399px;
    margin-top: 33px;
  }

  .u-section-2 .u-image-2 {
    min-height: 689px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 389px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-2 {
    min-height: 434px;
  }
} .u-section-3 {
  min-height: 662px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 20px auto auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 735px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 150px 0 0;
}

.u-section-3 .u-image-1 {
  width: 384px;
  height: 384px;
  object-position: 75.4% 100%;
  animation-duration: 1000ms;
  margin: 40px auto 0;
}

.u-section-3 .u-image-2 {
  min-height: 727px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-20501371.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 16px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 534px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-image-2 {
    min-height: 599px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 217px;
    height: 292px;
  }

  .u-section-3 .u-image-2 {
    min-height: 459px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 662px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-3 .u-text-1 {
    width: 471px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 296px;
    height: 399px;
    margin-top: 33px;
  }

  .u-section-3 .u-image-2 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 389px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-2 {
    min-height: 434px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/232c6d839624da0ae42d0f0b813ed0e81.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 374px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 227px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 57px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 80px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 227px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-2 {
  width: 57px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 56px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 227px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-3 {
  width: 57px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 56px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-line-2 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-line-3 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-4 .u-line-1 {
    width: 36px;
  }

  .u-section-4 .u-line-2 {
    width: 36px;
  }

  .u-section-4 .u-line-3 {
    width: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-1 {
    width: 34px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-2 {
    width: 34px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-3 {
    width: 34px;
  }
}